@inject IStringLocalizer<Localizations> Loc

    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div>
                        @Loc[Localizations.App_RestoreSession]
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <div class="login-container">
                        <div class="card">
                            <div class="card-header">
                                @Loc[Localizations.App_Title]
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    @Loc[Localizations.App_Description]
                                </div>
                                <a
                                    class="btn btn-primary"
                                    href="admin/login?redirectUri=/admin">
                                    @Loc[Localizations.App_LoginButton]
                                </a>
                            </div>
                        </div>

                        <div class="culture">
                            <CultureSelector />
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="login-container">
                    <div>
                        @Loc[Localizations.App_PageNotFound]
                    </div>

                    <div class="culture">
                        <CultureSelector/>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>