<Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Восстанавливаем сессию, момент...</p>
            </Authorizing>
            <NotAuthorized>
                <div class="login">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Сокращатель ссылок
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Вход в панель администратора
                            </p>
                            <a
                                class="btn btn-primary"
                                href="admin/login?redirectUri=/admin">
                                Войти
                            </a>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Страница не найдена.</p>
        </LayoutView>
    </NotFound>
</Router>